<div class="container">
  
  <div class="row">
    <div class="col-3"></div>
    <div class="col-6">
      <h3 class="text-center">Categories of Books</h3>
    
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th>#</th>
            <th>Category Name</th>
            <th style="padding-left: 170px;">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let category of categories">
            <td> {{ category.category_id }}</td>
            <td> {{ category.category_name }}</td>
            <td style="padding-left: 150px;" >
              <button (click)="updateCategory(category.category_id)" class="btn btn-default" style="background-color: rgb(135, 205, 240);"><span class="glyphicon glyphicon-edit"></span></button>
              <button (click)="deleteCategory(category.category_id)" class="btn btn-default" style="margin-left: 10px; background-color: rgb(250, 137, 142);"><span class="glyphicon glyphicon-trash"></span></button>
            </td>
          </tr>
         
        </tbody>
      </table>
    </div>
    <div class="col-3"></div>
  </div>
    
    
    
      </div>
      
