<div class="container">

<h3 class="text-center">Our Readers</h3>

<table class="table">
    <thead class="thead-dark">
      <tr>
        <th>#</th>
        <th>Name</th>
        <th >Email</th>
        <th>Phone</th>
        <th>Address</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let reader of readers">
        <td> {{ reader.user_id }}</td>
        <td> {{ reader.user_name}}</td>
        <td> {{ reader.user_email}} </td>
        <td> {{ reader.user_phone}} </td>
        <td> {{ reader.user_address}} </td> 
        <td>
          <button (click)="updateReader(reader.user_id)" class="btn btn-default" style="background-color: rgb(135, 205, 240);"><span class="glyphicon glyphicon-edit"></span></button>
          <button (click)="deleteReader(reader.user_id)" class="btn btn-default" style="margin-left: 10px; background-color: rgb(250, 137, 142);"><span class="glyphicon glyphicon-trash"></span></button>
          <button (click)="viewReader(reader.user_id)" class="btn btn-default" style="margin-left: 10px; background-color: rgb(255, 250, 156);"><span class="glyphicon glyphicon-eye-open"></span></button>
        </td>
      </tr>
     
    </tbody>
  </table>

  </div>
  